.main_banner{
  background-image: url("../images/image.jpg");
  background-size: cover;
  height: 87vh;
  position: relative;
  padding-bottom: 41px;
  align-items: end;
  justify-content: center;
  display: flex;
  .container {
    margin: inherit;
  }
    h3 {
      font-family: 'Poppins';
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #C0C0C0;
    }
      h1 {
        font-family: 'Poppins';
        font-size: 54px;
        line-height: 59px;
        text-align: center;
        color: #FFFFFF;
      }
        p {
          font-family: 'Poppins';
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          color: #C0C0C0;
          max-width: 580px;
          margin: auto;
        }
          ul{
            list-style: none;
            display: flex;
            align-items: center;
            position: absolute;
            right: 40px;
            bottom: 40px;
            li {
              font-family: 'Poppins';
              line-height: 12px;
              font-size: 12px;
              margin-left: 16px;
              color: white;
              &:before{
                content: "";
                display: inline-block;
                background-image: url('../images/icones/icon3.svg');
                width: 16px;
                height: 16px;
                margin-right: 6px;
                position: relative;
                top: 6px;
              }
              &:last-of-type:before {
                background-image: url('../images/icones/icon4.svg');
                margin-right: 5px;
                width:10px ;
              }
              &:nth-child(3):before {
                background-image: url('../images/icones/icon.svg');
                margin-right: 7px;
                width:32px ;
              }
              &:nth-child(2):before {
                background-image: url('../images/icones/icon2.svg');
              }
            }


    }
  }
