.touch {
  max-height: 414px;
  padding-top: 113px;
  padding-bottom: 108px;
  background-color: black;
  background-size: cover;
  text-align: center;
}
.touch h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 15px;
}
.touch p {
  font-family: "Poppins";
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  padding-bottom: 22px;
}
.touch .description {
  bottom: 30px;
  left: 30px;
}
.touch .description a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #000000;
  padding: 5px 10px 5px 4px;
  background: #FFFFFF;
  border-radius: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
}
.touch .description a:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 14px;
  margin-right: 6px;
}